<footer id="site-footer">

	{%- if config.extra.footer?.show_copyright %}
		{%- if config.extra.footer?.copyright %}
			{{ config.extra.footer?.copyright | markdown | safe }}
		{%- else %}
			<p>&copy; {{ config.title }}, {{ now() | date(format="%Y") }}</p>
		{%- endif %}
	{%- endif %}

	{%- if config.extra?.source_url and config.extra.footer?.show_source %}
		<p>
			<a class="external" href="{{ config.extra.source_url }}" rel="{{ rel_attributes }}">
				{{- <translate key="source" default="Website source" language_strings /> -}}
			</a>
		</p>
	{%- endif %}

	{%- if config.extra.footer?.show_powered_by %}
		<p>
			<small>
				Powered by <a class="link external" href="https://www.getzola.org" rel="{{ rel_attributes }}">Zola</a> and <a class="link external" href="https://duckquill.daudix.one" rel="{{ rel_attributes }}">Duckquill</a>
			</small>
		</p>
	{%- endif %}

	{%- if config.extra.footer?.socials %}
		<ul id="external-links">
			{%- for link in config.extra.footer?.socials %}
				<li>
					<a href="{{ link.url | safe }}" rel="{{ rel_attributes }} me" title="{{ link.name }}">
						<i class="icon" style='--icon: url("data:image/svg+xml,{{ link.icon }}")'></i>
						<span>{{ link.name }}</span>
					</a>
				</li>
			{%- endfor %}
		</ul>
	{%- endif %}
</footer>
